
.icon-back-arrow:before { content: '\e800'; } /* '' */
.icon-badge:before { content: '\e801'; } /* '' */
.icon-close:before { content: '\e802'; } /* '' */
.icon-person:before { content: '\e803'; } /* '' */
.icon-pin:before { content: '\e804'; } /* '' */
.icon-target:before { content: '\e805'; } /* '' */